
<div class="login-container">

  <% if @errors %>
    <% @errors.each do |error| %>
      <h1><%= error %></h1>
    <% end %>
  <% end %>

  <form method="post" action="/login">
    <label name="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="Username">

    <label name="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Password">

    <input type="submit" value="Log in!">
  </form>

</div>
